@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC&display=swap");

.mtr-sung,
.mtr-sung *:not(.font-exclude) {
  font-family: "Noto Serif TC", serif !important;
}

.mtr-eng,
.mtr-eng *:not(.font-exclude) {
  font-family: "Myriad Pro Regular", sans-serif !important;
}

.sb, .sb *:not(.font-exclude) {
    font-weight: 600 !important;
}